body{
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(205, 200, 200);
}

h1{
  text-align: center;
  color: white;
  margin:1%;
}

.appname{
text-align: center;
font-size: 8rem;
margin-top: 25vh;
color: rgb(205, 200, 200);
font-family: 'Square Peg', cursive;
}

.nav{
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: space-between;
  border-bottom-color: rgb(31, 31, 31);
  border-bottom-style: double;
}

.nav *{
  color: rgb(205, 200, 200);
  text-decoration: none;
  font-size: 1.25rem;
  padding-bottom: 0;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(205, 200, 200);
  margin-top: 15vh;
}

form *{
  background-color: rgb(205, 200, 200);
  padding: 5px;
  width: 400px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: black;
}

form > .login, .register{
  font-size: 2rem;
  background-color: black;
  color: white;
}

.card{
  background-color: black;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(31, 31, 31);
  margin: 5px;
  width: 32%;
}

.card-body{
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  font-size: 1.25rem; 
}

.container{
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.details{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
}

.details *{
  font-size: 1.5rem;
}

.delete{
  margin-top: 1%;
}

.update, .del{
  width: 10%;
  padding: 0;
}

.form-group{
  margin-top: 1%;
  display: flex;
}

.quotes{
  background-color: black;
  border-style: solid;
  border-color: rgb(31, 31, 31);
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px 0;
}

h2{
  font-size: 1.5rem;
  text-align: center;
}

.btn{
  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  color: rgb(205, 200, 200);
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1.25rem;
  }

  .appname{
    font-size: 4rem;
    }

  .nav *{
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  form *{
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    font-size: 1rem;
  }

  form > .login, .register{
    font-size: 2rem;
  }

  .card{
    width: 98%;
    margin-bottom: 3px;
  }

  .card-body, h2, p{
    margin-bottom: 1%;
  }
  
  p{
    font-size: 1rem; 
  }

  .details *{
    font-size: 1.25rem;
  }

  .update, .del{
    width: 20%;
  }

  .form-group{
    margin-top: 3%;
  }

  .quotes{
    background-color: black;
    border-style: solid;
    border-color: rgb(31, 31, 31);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 2px;
  }
  
  
}