body{
  background-color: black;
  font-family: 'Square Peg', cursive;
  color: white;
}

h1{
  text-align: center;
  color: white;
}

.appname{
text-align: center;
font-size: 10rem;
margin-top: 25vh;
color: white;
}

.nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.nav *{
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 15vh;
}

form *{
  padding: 5px;
  width: 400px;
  border-radius: 10px;
  font-size: 1.5rem;
}

form > .login, .register{
  font-size: 3rem;
}

.card{
  background-color: rgb(31, 31, 31);
  border-style: solid;
  border-color: white;
  margin: 5px;
  width: 32%;
}

.card-body{
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  font-size: 1.5rem; 
}

.container{
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.details{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
}

.details *{
  font-size: 2rem;
}

.delete{
  margin-top: 1%;
}

.update, .del{
  width: 10%;
  padding: 0;
}

.form-group{
  margin-top: 1%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 2rem;
  }

  .appname{
    font-size: 4rem;
    }

  .nav *{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
  form *{
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    font-size: 1rem;
  }

  form > .login, .register{
    font-size: 2rem;
  }

  .card{
    width: 98%;
    margin-bottom: 3px;
  }

  .card-body, h2, p{
    margin-bottom: 1%;
  }
  
  p{
    font-size: 1.25rem; 
  }

  .details *{
    font-size: 1.25rem;
  }

  .update, .del{
    width: 20%;
  }

  .form-group{
    margin-top: 3%;
  }
  
  
}