{% extends "base.html" %}
{% block content %}
<div class="details">
  <h1 class = "details-title">Application Details</h1>
  <div class="company-name">
    <h2>Company:</h2>
    <h2 class="option">{{job.company}}</h2>
  </div>
  <div class="company-name">
    <h2>Position:</h2>
    <h2 class="option">{{job.title}}</h2>
  </div>
  <div class="company-name">
    <h2>Applied:</h2>
    <h2 class="option">{{job.date_applied}}</h2>
  </div>
  {% if job.author == current_user %}
    <div>
      {% if job.accepted == true %}
      <div class="company-name">
        <p>Accepted:</p> 
        <p class="option">Yes</p>
      </div>
      {%else %}
      <div class="company-name">
        <p>Accepted:</p> 
        <p class="option">No</p>
      </div>
      {% endif %}
      {% if job.in_process == true %}
      <div class="company-name">
        <p>In Process:</p> 
        <p class="option">Yes</p>
      </div>
      {%else %}
      <div class="company-name">
        <p>In Process:</p> 
        <p class="option">No</p>
      </div>
      {% endif %}
      {% if job.rejected == true %}
      <div class="company-name">
        <p>Rejected:</p> 
        <p class="option">Yes</p>
      </div>
      {%else %}
      <div class="company-name">
        <p>Rejected:</p> 
        <p class="option">No</p>
      </div>
      {% endif %}
      <div>
        <a class="btn btn-secondary update" href="{{ url_for('applied_jobs.update', applied_job_id=job.id) }}">Update</a>
        <br>
        <form class="delete" action="{{ url_for('applied_jobs.delete_post', applied_job_id=job.id) }}" method="POST">
          <input class="btn btn-sm del btn-secondary " type="submit" value="Delete">
        </form>
      </div> 
    </div>
  {% endif %}
</div>
{% endblock content %}