{% extends "base.html" %}
{% block content %}
<div class="details">
  <h2>Company: {{job.company}}</h2>
  <p>Position: {{job.title}}</p>
  <p>Applied: {{job.date_applied}}</p>
  {% if job.author == current_user %}
    <div>
      {% if job.accepted == true %}
        <p>Accepted: Yes</p>
      {%else %}
        <p>Accepted: No</p>
      {% endif %}
      {% if job.in_process == true %}
        <p>In process: Yes</p>
      {%else %}
        <p>In process: No</p>
      {% endif %}
      {% if job.rejected == true %}
        <p>Rejected: Yes</p>
      {% else %}
        <p>Rejected: No</p>
      {% endif %}
      <div>
        <a class="btn btn-secondary update" href="{{ url_for('applied_jobs.update', applied_job_id=job.id) }}">Update</a>
        <br>
        <form class="delete" action="{{ url_for('applied_jobs.delete_post', applied_job_id=job.id) }}" method="POST">
          <input class="btn btn-danger btn-sm del" type="submit" value="Delete">
        </form>
      </div> 
    </div>
  {% endif %}
</div>
{% endblock content %}