{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div class="form-group">
            {{form.title.label(class="form-control-label")}}
            {{form.title(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.company.label(class="form-control-label")}}
            {{form.company(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{form.date_applied.label(class="form-control-label" )}}
            {{form.date_applied(class="form-control form-control-lg",type = "date")}}
          </div>
          <div class="form-group">
            {{form.accepted.label(class="form-control-label")}}
            {{form.accepted(class="form-check-input-lg")}}
          </div>
          <div class="form-group">
            {{form.in_process.label(class="form-control-label")}}
            {{form.in_process(class="form-check-input-lg")}}
          </div>
          <div class="form-group">
            {{form.rejected.label(class="form-control-label")}}
            {{form.rejected(class="form-check-input-lg")}}
        </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
{% endblock %}