{% extends "base.html" %}
{% block content %}
    <div class="addapplication">
        <h1>Job Applications List</h1>
        <h3 class = "add"><a class = "addapp" href="{{url_for('applied_jobs.create_post')}}">Add Application</a> </h3>
    </div>
    <div class="row">
        {% for job in applied_jobs.items %}
            {% if current_user.id == job.user_id %}
                <div class="card col-4">
                    <div class="card-body">
                        <h2>{{job.company}}</h2>
                        <p>Position: {{job.title}}</p>
                        <p>Applied: {{job.date_applied}}</p>
                        <a class="btn" href="{{url_for('applied_jobs.applied_job', applied_job_id=job.id)}}">View job details</a>
                    </div>
                </div>
            {% endif %}   
        {% endfor %}
    </div>

{% endblock %}